<html lang="ru"
{{#if dark}}
  class="dark"
{{/if}}
>

<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/static/css/index.css" />
  <script type="module" src="/static/js/theme.mjs"></script>
</head>
{{> header}}

<body class="layout">
  <main>{{{body}}}</main>
  {{> footer}}
</body>

</html>