<form class="form" method="post">
    <label class="label" for="username">
        Зовите меня
        <input id="username" name="name" type="text" value="Anonymous" /> !
    </label>
    <input class="action" type="submit" value="Сохранить" />
</form>