<section class="user__hello">Привет, {{cookieName}}!</section>
<form class="form" method="get">
<label class="label" for="username">
    Зовите меня
    <input id="username" name="name" type="text" value="{{cookieName}}" /> !
</label>
<input class="action" type="submit" value="Сохранить" />
</form>