<section class="user__hello">Добро пожаловать, {{username}}!</section>
<form class="form" method="get">
    <label class="label" for="username">
        Введите ваше имя:
        <input id="username" name="username" type="text" value="kittygirl"/> !
    </label>
    <input class="action" type="submit" value="save"/>
</form>