<section class="user__hello">Добро пожаловать, {{user}}!</section>
<form class="form" method="get">
  <label class="label" for="user">
    Введите ваше имя:
    <input id="user" name="user" type="text" value="ArianaGrande93" required>
  </label>
  <input class="action" type="submit" value="Login"/>
</form>